<div>
<footer class="page-footer font-small blue pt-3 bg-light">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-10 mt-md-0 mt-1">

        <!-- Content -->
        <h5 class="text-uppercase">Go Golfing!</h5>
        <p>Built with Bootstrap, Express.js, Node.js, SQL, Passport, and Handlebars.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">TEAM <i class='fa fa-github'></i></h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/hlodg">Hannah Lodge</a>
          </li>
          <li>
            <a href="https://github.com/abelzer09">Aaron Belzer</a>
          </li>
          <li>
            <a href="https://github.com/RedBread97">Alex Lane</a>
          </li>
          <li>
            <a href="https://github.com/samlarson94">Sam Larson</a>
          </li>
        </ul>

      </div>
   
    </div>
   

  </div>
  

  <!-- Copyright Info -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <p>Group 007</p>
  </div>
  

</footer>

</div>