<header>
  <div class="jumbotron jumbotron-fluid text-center bg-success text-light">
    <div class="container">
      <h1 class="display-4">Let's Go Golfing!</h1>
      <p class="lead">An app to keep track of your golf scores.</p>

      <a
        class="btn btn-outline-light"
        href="/google"
        role="button"
        style="text-transform:none; 
        background-color:#c7c6c6"
      >
        <img
          width="20px"
          style="margin-bottom:3px; margin-right:5px"
          alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
        />
        Sign in with Google
      </a>

    </div>

    {{! Insert navbar here? }}
  </div>
</header>