<header>
  <div class="jumbotron jumbotron-fluid text-center bg-success">
    <div class="container">
      <h1 class="display-4">Let's Go Golfing!</h1>
      <p class="lead">An app to keep track of your golf scores.</p>
      <a class="text-light" href="/login">Login</a>
    </div>

    {{!-- Insert navbar here? --}}
  </div>
</header>